h1{
  text-align: center;
}
section{
  width: 100%;
  float: left;
}
section section{
  width: 44.7%;
  float: left;
  min-height: 250px;
  margin: 10px 2.5%;
}
.question{
  border: 2px solid red;
}
.answer{
  border: 2px solid green;
}
.answer section{
  border: 1px solid grey;
  float: left;
  width: 34.5%;
  padding: 3%;
  min-height: 200px;
  font-size: 15px;
}
.answer p{
  text-align: center;
}
#circ, #area{
  width: 30%;
  height: 30px;
  float: left;
  margin: 10px 10%;
}
#fiveA, #fiveB{
  width: 50%;
  min-height: 125px;
  float: left;
}
#radius{
  width: 40%;
  margin: 5px 30%;
  font-size: 15px;
}
.answer button{
  margin:10px 43%;
}
